{"swagger":"2.0","info":{"description":"","version":"1.0","title":"API Service Qualification"},"host":"api.orange.com","basePath":"/","schemes":["http"],"consumes":["application/json"],"produces":["application/json"],"paths":{"/orderFeasibilityCheckRequest":{"post":{"tags":["orderFeasibilityCheckRequest"],"operationId":"orderFeasibilityCheckRequestCreate","summary":"create","description":"This operation is used to provide commercial eligibility from address information i.e Product Offerings (and constraints on ProductOffering pricing).","deprecated":false,"parameters":[{"name":"orderFeasibilityCheckRequest","in":"body","required":true,"schema":{"$ref":"#/definitions/OrderFeasibilityCheckRequest"}}],"responses":{"201":{"description":"Success","schema":{"$ref":"#/definitions/OrderFeasibilityCheckRequest"}},"400":{"description":"bad_request","schema":{"$ref":"#/definitions/Error"}}}},"get":{"tags":["orderFeasibilityCheckRequest"],"operationId":"orderFeasibilityCheckRequestList","summary":"find","description":"This operation is used to retrieve OrderFeasibilityCheck Requests using filter criteria. Especially criteria like period or party \nFiltering selection is enabled on all attributes: first level and inner classes","deprecated":false,"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/OrderFeasibilityCheckRequest"}}},"400":{"description":"bad_request","schema":{"$ref":"#/definitions/Error"}}}}},"/orderFeasibilityCheckRequest/{id}":{"get":{"tags":["orderFeasibilityCheckRequest"],"operationId":"orderFeasibilityCheckRequestfindById","summary":"findById","description":"This operation is used to research an orderFeasibilityCheckRequest by its identifier.\nNote that collections can be retrieved via GET /api/serviceQualificationRequest with no {ID}","deprecated":false,"parameters":[{"required":true,"type":"string","name":"id","in":"path","description":"Identifier of the Request"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/OrderFeasibilityCheckRequest"}},"404":{"description":"not_found","schema":{"$ref":"#/definitions/Error"}}}}},"/serviceQualificationRequest":{"post":{"tags":["serviceQualificationRequest"],"operationId":"serviceQualificationRequestCreate","summary":"create","description":"This operation is used to provide technical Eligibility that is what service is available or when the service is available.","deprecated":false,"parameters":[{"name":"serviceQualificationRequest","in":"body","required":true,"schema":{"$ref":"#/definitions/ServiceQualificationRequest"}}],"responses":{"201":{"description":"Success","schema":{"$ref":"#/definitions/ServiceQualificationRequest"}},"400":{"description":"bad_request","schema":{"$ref":"#/definitions/Error"}}}},"get":{"tags":["serviceQualificationRequest"],"operationId":"serviceQualificationRequestList","summary":"find","description":"This operation is used to retrieve the ServiceQualificationRequest using filter criteria. Especially criteria like period or party \nFiltering selection is enabled on all attributes: first level and inner classes","deprecated":false,"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/ServiceQualificationRequest"}}},"400":{"description":"bad_request","schema":{"$ref":"#/definitions/Error"}}}}},"/serviceQualificationRequest/{id}":{"get":{"tags":["serviceQualificationRequest"],"operationId":"serviceQualificationRequestfindById","summary":"findById","description":"This operation is used to research  ServiceQualificationRequest by its identifier.\nNote that collections can be retrieved via GET /api/serviceQualificationRequest with no {ID}","deprecated":false,"parameters":[{"required":true,"type":"string","name":"id","in":"path","description":"Identifier of the Request"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ServiceQualificationRequest"}},"404":{"description":"not_found","schema":{"$ref":"#/definitions/Error"}}}}}},"definitions":{"Error":{"required":["code","message"],"properties":{"code":{"description":"An integer coding the error type. This is given to caller so he can translate them if required.","type":"integer"},"message":{"description":"A short localized string that describes the error.","type":"string"},"description":{"description":"(optional) A long localized error description if needed. It can contain precise information about which parameter is missing, or what are the identifier acceptable values.","type":"string"},"infoURL":{"description":"(optional) A URL to online documentation that provides more information about the error.","type":"string"}}},"ServiceQualificationRequest":{"type":"object","properties":{"id":{"type":"string"},"href":{"type":"string"},"interactionDate":{"type":"string"},"description":{"type":"string"},"interactionDateComplete":{"type":"string"},"interactionStatus":{"type":"string"},"place":{"type":"object","properties":{"type":{"type":"string"},"id":{"type":"string"},"href":{"type":"string"}}},"physicalResource":{"type":"object","properties":{"accessType":{"type":"string"},"availability":{"type":"string"},"upstreamSpeed":{"type":"string"},"downstreamSpeed":{"type":"string"}}},"serviceQualificationRequestItem":{"type":"array","items":{"$ref":"#/definitions/ServiceQualificationRequestItem"}}}},"ServiceQualificationRequestItem":{"type":"object","properties":{"serviceAvailability":{"type":"array","items":{"$ref":"#/definitions/ServiceAvailibility"}}}},"OrderFeasibilityCheckRequest":{"type":"object","properties":{"id":{"type":"string"},"href":{"type":"string"},"interactionDate":{"type":"string"},"description":{"type":"string"},"interactionDateComplete":{"type":"string"},"interactionStatus":{"type":"string"},"place":{"type":"object","properties":{"type":{"type":"string"},"id":{"type":"string"},"href":{"type":"string"},"streetNr":{"type":"string"},"streetName":{"type":"string"},"streetType":{"type":"string"},"postcode":{"type":"string"},"city":{"type":"string"},"country":{"type":"string"},"geoCode":{"properties":{"latitude":{"type":"string"},"longitude":{"type":"string"},"geographicDatum":{"type":"string"}}},"externalRef":{"type":"string"}}},"physicalResource":{"type":"object","properties":{"accessType":{"type":"string"},"availability":{"type":"string"},"upstreamSpeed":{"type":"string"},"downstreamSpeed":{"type":"string"}}},"orderFeasibilityCheckRequestItem":{"type":"array","items":{"$ref":"#/definitions/OrderFeasibilityCheckRequestItem"}}}},"OrderFeasibilityCheckRequestItem":{"type":"object","properties":{"serviceAvailability":{"type":"array","items":{"$ref":"#/definitions/ServiceAvailibility"}},"productAvailability":{"type":"array","items":{"$ref":"#/definitions/ProductAvailibility"}}}},"Characteristic":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}}},"ServiceAvailibility":{"type":"object","properties":{"service":{"type":"object","properties":{"id":{"type":"string"},"href":{"type":"string"},"name":{"type":"string"},"serviceSpecification":{"type":"object","properties":{"id":{"type":"string"},"href":{"type":"string"},"name":{"type":"string"}}},"serviceCharacteristic":{"type":"array","items":{"$ref":"#/definitions/Characteristic"}},"availability":{"type":"string"},"serviceabilityDate":{"type":"string"}}}}},"ProductAvailibility":{"type":"object","properties":{"productOffering":{"type":"object","properties":{"id":{"type":"string"},"href":{"type":"string"},"name":{"type":"string"}}},"product":{"type":"object","properties":{"id":{"type":"string"},"href":{"type":"string"},"name":{"type":"string"},"productSpecification":{"type":"object","properties":{"id":{"type":"string"},"href":{"type":"string"},"name":{"type":"string"}}},"productCharacteristic":{"type":"array","items":{"$ref":"#/definitions/Characteristic"}},"availability":{"type":"string"},"serviceabilityDate":{"type":"string"}}}}}}}